@{ 
    ViewBag.Title = "About";
}
@{ ViewBag.Title= "hocvienEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";}
<main aria-labelledby="title">
    <h3> BÀI TẬP LỚN: QUẢN LÝ TRUNG TÂM ANH NGỮ</h3>
</main>